@page "/WorkflowList"
@using Microsoft.EntityFrameworkCore
@using Application.Infrastructure
@using Application.Features.Github.Entities
@rendermode InteractiveServer

@implements IDisposable
@inject IDbContextFactory<ApplicationDbContext> DbFactory

<h3>Workflows</h3>
<RadzenDataGrid Data="workflows">
    <Columns>
        <RadzenDataGridColumn TItem="Workflow" Property="WorkflowId" Title="Id"></RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Workflow" Property="RepositoryId" Title="Repository Id"></RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Workflow" Property="Name" Title="Name"></RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>
@code {
    private ApplicationDbContext? dbContext;
    private IEnumerable<Workflow> workflows = [];

    protected override Task OnInitializedAsync()
    {
        dbContext = DbFactory.CreateDbContext();
        workflows = dbContext.Workflows.ToList();

        return base.OnInitializedAsync();
    }

    public void Dispose()
    {
        dbContext?.Dispose();
    }
}